<div class="container">
  <div class="d-flex">
    <div class="col-8">
      <div class="card p-3">
        <h1><%= @flat.name %></h1>
        <h4><%= @flat.address %></h4>
      </div>
      <div class="card p-3">
        <h3>A bit more about this flat...</h3>
        <p><%= @flat.description %></p>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <h5>Book this place!</h5>
        <div class="d-flex justify-content-between">
          <span>From:</span>
          <input type="text" placeholder="03/04/2020" class="form-control">
        </div>
        <div class="d-flex justify-content-between">
          <span>To:</span>
          <input type="text" placeholder="10/04/2020" class="form-control">
        </div>
        <a href="#" class="btn btn-success">Book</a>
      </div>
      <div class="card">
        <h3>Details</h3>
        <div>
          <i class="fas fa-user-friends"></i><%= @flat.number_of_guests %>
        </div>
      </div>
      <div class="card">
        <p>Share</p>
      </div>
    </div>
  </div>
</div>
